.Me{
    display: grid;
    grid-template-columns: 60% 40%;
}

.modificado {
    display: grid;
    grid-template-rows: 1fr;
}

.parte1 {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 2.5rem;
}

.titulo1, .tituloskills {
    font-family: 'Roboto Slab';
}

.parte2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*margin: 1.5rem; ESto lo agrege extra*/
}

.stack {
    margin-bottom: 1rem;
}

.containstack {
    margin-top: 3rem; /*ESto lo agrege extra*/
}


/*.parte2 {
    display: flex;
    overflow-x: hidden;
}

.stack {
    margin-bottom: 1rem;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); 
    }
}*/


.lenguajes {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 0.5rem;
    justify-content: center;
}

.lenguajes > * {
    margin: 0.5rem;
}

.softwares {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 2.5rem;
    justify-content: center;
}

.softskills {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 2.5rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .Me {
        grid-template-columns: 1fr;
    }

    .modificado {
        grid-template-columns: 1fr;
    }

    .lenguajes {
        grid-template-columns: repeat(2, 1fr);
    }

    .softwares {
        grid-template-columns: repeat(2, 1fr);
    }

    .softskills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .Me {
        grid-template-columns: 1fr; 
    }

    .modificado {
        grid-template-columns: 1fr;
    }

    .lenguajes,
    .softwares,
    .softskills {
        grid-template-columns: 1fr; 
    }
}

.title {
    font-size: 2.3rem;
    font-weight: bold;
    color: #32f57c;
    letter-spacing: 0.05em;
    max-width: 36rem;
}

.texto {
    color: #000000; /* Cambiar el color del texto a un gris oscuro */
    font-size: 1.05rem;
    font-weight: 700; /* Aumentar el peso de la fuente para hacerla más audaz */
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Agregar un sombreado sutil */
}

.texto strong {
    font-size: 1.05rem;
    font-weight: 800;
    color: #000000;
    font-family: Arial;
}

.links{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: arial;
    text-align: justify;
    background-color: #fefefe;
    padding: 0.3rem;
    border-radius: 0.4rem;
    
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titeltools {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
    margin-top: 0.5rem;
} 

.carrusel-proyectos {
    margin-top: 1rem;
    margin-bottom: 2rem;
}