.meimage{
    margin-left: -50px;
    width: 95%;
}

.tools {
    margin-left: 10px;
    width: 180px;
}

.react {
    margin-left: 10px;
    width: 70px;
}

.node {
    margin-left: 10px;
    width: 85px;
}

.redes {
    margin-top: -15px;
}

.linkedin {
    margin-left: 20px;
    width: 35px;
}

.github {
    margin-left: 14px;
    margin-bottom: 5px;
    width: 37px;
}