
.containerAbout {
    margin-left: 1rem;
    margin-top: 3rem;
    width: 40rem;
    height: 30rem;
}

.containerinfor {
    margin-top: 3rem;
    width: 25rem;
    height: 30rem;
}

.containerme{
    margin-right: 0%;
}

.meimage {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 20rem;
    height: 30rem;
}