.title-proyectos {
    font-family: 'Roboto Slab';
    color: #ffffff;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro-proyectos {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #8C4CEB;
    margin-bottom: 1rem;
}

.containtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 1rem;
}

.proyectos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
    gap: 0.5rem;
    max-width: 75rem; 
    margin: 0 auto;
}

.contain-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.contactome {
    background-color: black;
}

.button {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #15b060;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .title-proyectos {
        font-size: 3.5rem;
    }

    .intro-proyectos {
        font-size: 1.3rem;
        text-align: center;
    }

    .contain-proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .title-proyectos {
        font-size: 2.5rem;
    }

    .intro-proyectos {
        font-size: 1rem;
        text-align: center;
    }

    .contain-proyectos {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1024px) {
    .contain-proyectos {
        grid-template-columns: repeat(3, 1fr);
    }
}