.main-container {
    width: 600px;
    height: 280px;
    margin: 0 auto;
}

.slider-container {
    position: relative;
    height: 100%;
}

.container-images {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid #fff;
    overflow: hidden;
}

.imag {
    width: 600px;
    height: 280px;
}

.leftArrow, .rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /*left: 32px;*/
    font-size: 3.5rem;
    font-weight: 700;
    color: #ff00e1;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    left: -45px;
}

.rightArrow {
    right: -45px;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dot-container-item {
    margin: 8px 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    user-select: none;
}

div.active {
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media (max-width: 480px) {
    .main-container {
        height: 180px;
        width: 300px;
    }

    .imag {
        height: 180px;
        width: 300px;
    }

    .leftArrow, .rightArrow {
        font-size: 2.5rem;
    }

    .leftArrow {
        left: -1.5rem;
    }

    .rightArrow {
        right: -1.5rem;
    }
}
