.contain-section1{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: 55% 45%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

.contain-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-welcome {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    color: #000000;
    margin: 1rem; /* Cambio de m-6 a 1 rem de margin*/
    font-size: 4.5rem; /* Cambio de text-7xl*/
    line-height: 1;
}

.contain-iam {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: justify;
    font-weight: 500;
    color: #ffffff;
    padding-right: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    /*background-color: #5c007881;*/
    background-color: #8C4CEB;
}

.my-name {
    font-weight: bold;
    color: #f4f4f4;
    font-size: 1.9rem;
    line-height: 1;
    margin: 1rem;
}

.second-text {
    color: #bcff12;
    font-size: 1.2rem;
}

.first-text, .second-text ,.my-name {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.297);
}

.boton-next {
    display: flex;
    position: relative;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contain-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.develop-image {
    width: 70%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
    border-radius: 5rem 10rem;
}

@media screen and (max-width: 1024px) {

    .contain-section1 {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .title-welcome {
        font-size: 4.5rem;
        text-align: center;
    }
    
    .my-name {
        font-size: 2rem;
    }
    
    .first-text,
    .second-text {
        font-size: 1.5rem;
    }

    .develop-image {
        width: 50%;
        margin-top: 2.5rem;
    }
}


@media screen and (max-width: 768px) {
    .contain-section1 {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .title-welcome {
        font-size: 3rem;
        text-align: center;
    
    }

    .my-name {
        font-size: 1.5rem;
    }

    .first-text,
    .second-text {
        font-size: 1.5rem;
    }

    .second-text {
        letter-spacing:-0.02rem;
    }

    .develop-image {
        width: 85%;
        margin: 1.5rem;
    }

    .contain-logo {
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .contain-section1 {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .title-welcome {
        font-size: 2.8rem;
    }

    .my-name {
        font-size: 1.5rem;
    }

    .first-text,
    .second-text {
        font-size: 1rem;
    }

    .second-text {
        letter-spacing:-0.02rem;
    }
}